@model IEnumerable<MVCProject.Models.Plan>

@{
    ViewData["Title"] = "Finančný plán";
}

<h3 style="margin-bottom: 30px;">Finančný plán</h3>

<div class="row">
    <div class="col-xl-10 ">
        <form asp-controller="Plans" asp-action="Index" method="get">
            <div class="input-group">
                <span class="input-group-append">
                    <button class="btn btn-outline-secondary bg-white border-start-1 border-bottom-1  border-end-0 border ms-n5" type="submit" value="Filter">
                        <i class="bi bi-search"></i>
                    </button>
                </span>
                <input class="form-control border-end-1 border" name="searchString" value="@ViewBag.CurrentFilter" id="example-search-input" placeholder="Hľadať">
            </div>
        </form>
    </div>
    <div class="col-xl-2">
        <p>
            <!-- <a asp-action="Create">Create New</a>-->
            @Html.ActionLink(" + Pridať nový", "Create", new { controller = "Plans"},new { @class = "btn w-100 ", @style = " background-color: #921337 !important; ;color: white; border-radius: 10px;" })
        </p>
    </div>
</div>
<div class="container-fluid rounded bg-white border p-0 ">
    <div class="table-responsive">
    <table class="table table-hover">
    <thead>
        <tr>
            <th class="tablename" colspan="8">Posledné plány</th>
        </tr>
        <tr class="tablecontend text-left">
            <th>
                <input class="checkItem" type="checkbox" id="checkAll">
                @Html.ActionLink(Html.DisplayNameFor(model => model.Name).ToString(), "Index", new { sortOrder = ViewBag.NameSortParm, currentFilter=ViewBag.CurrentFilter })
            </th>
            <th>
                @Html.ActionLink(Html.DisplayNameFor(model => model.Owner).ToString(), "Index", new { sortOrder = ViewBag.OwnerSortParm, currentFilter=ViewBag.CurrentFilter })
            </th>
            <th>
                @Html.ActionLink(Html.DisplayNameFor(model => model.Id).ToString(), "Index", new { sortOrder = ViewBag.IdSortParm, currentFilter=ViewBag.CurrentFilter })
            </th>
            <th>
                @Html.ActionLink(Html.DisplayNameFor(model => model.CreatedAt).ToString(), "Index", new { sortOrder = ViewBag.DateSortParm, currentFilter=ViewBag.CurrentFilter })
            </th>
            <th>
                @Html.ActionLink(Html.DisplayNameFor(model => model.UpdatedAt).ToString(), "Index", new { sortOrder = ViewBag.DateUpdatedSortParm, currentFilter=ViewBag.CurrentFilter })
            </th>
            <th>
                @Html.ActionLink(Html.DisplayNameFor(model => model.Status).ToString(), "Index", new { sortOrder = ViewBag.StatusSortParm, currentFilter=ViewBag.CurrentFilter })
            </th>
            <th>
                @Html.ActionLink(Html.DisplayNameFor(model => model.UpdatedBy).ToString(), "Index", new { sortOrder = ViewBag.UpdatedBySortParm, currentFilter=ViewBag.CurrentFilter })
            </th>
        </tr>
    </thead>
            <tbody class="text-left">
@foreach (var item in Model) {
        <tr>
                <td class="fw-bold">
                            <input class="checkItem" type="checkbox">

                            <a href="@Url.Action("Details", "Plans",  new { item.Id })" class="btn btn-circle btn-lg" style="background-color: #f9e2e5 !important; color: #921337; font-size:20px">
                                <i class="bi bi-file-earmark"></i>
                            </a>

                            @Html.ActionLink(item.Name, "Details","Plans", new { item.Id }, new { @class = "info"})
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Owner)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedAt)
            </td>
            <td>
                            @if (item.Status){
                                <div class="alert alert-success" role="alert">
                                    
                                    •Platny
                             
                                </div>
                            }
                            else{
                                <div class="alert alert-danger" role="alert">
                                    
                                      •Neplatny
                                  
                                </div>
                            }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedBy)
            </td>
                     <td>
                            <div class="dropdown">
                                <button class="btn " type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="bi bi-three-dots-vertical"></i>
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">

                                    <li> <i class="bi bi-pen"></i> <a asp-action="Edit" asp-route-id="@item.Id" class="info">Edit</a> </li>
                                    <li> <i class="bi bi-search"></i> <a asp-action="Details" asp-route-id="@item.Id" class="info">Details</a> </li>
                                    <li> <i class="bi bi-trash3"></i> <a asp-action="Delete" asp-route-id="@item.Id" class="info">Delete</a> </li>
                                </ul>
                            </div>
            </td>
        </tr>
}
    </tbody>
</table>
</div>
</div>
